nav{
	height:40px;
	background: repeating-linear-gradient(
		-45deg,
		#fefefe,
		#fefefe 5px,
		#f7cd00 5px,
		#f7cd00 10px
		);
}

nav ul {
	display:none;
	display:flex;
	justify-content:center;
	height:100%;
}

nav ul li {
	display:inline-block;
	background:white;
	margin:.5em .5em 0em .5em;
	padding:.5em 3em;
	font-family: 'Oswald', sans-serif;
	-webkit-box-shadow: inset 0px -25px 33px -27px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -25px 33px -27px rgba(0,0,0,0.1);
	box-shadow: inset 0px -25px 33px -27px rgba(0,0,0,0.1);
	transition:.15s all;
}

nav ul li:hover{
	margin:.3em .5em 0em .5em;
}

nav ul li a {
	color:black;
}

.nav-active{
	background:black;
	color:white;
}
.nav-hide{
	display:none;
}